.example-card {
  width: 100%;
  max-width: 100%;
}
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.demo-card-container {
  display: flex;
  flex-flow: column nowrap;
}