<div fxLayout="column" class="example-card" >
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <mat-form-field style="width:300px;">
        <input matInput placeholder="Field Name" required value="{{name }}">
        <mat-hint> Field name is required</mat-hint>
      </mat-form-field>
      <mat-checkbox class="fieldCheckbox">Required</mat-checkbox>
      <mat-checkbox class="fieldCheckbox">Editable from work list</mat-checkbox>
      <mat-checkbox class="fieldCheckbox" checked=true >Visible in work list </mat-checkbox>
    </div>
</div>



